.score {
  display: none; 
  margin-top: 20px;
}

ul { 
  list-style-type: none;
  margin-left: -30px;
  cursor: pointer;
  color: green;
}

li {
  display: none;
  color: green;
}

a {
  color: green;
  text-decoration-line: none;
}

a:hover {
  color: green;
}

span#O {
  color:  rgb(200,200,0); 
}

span#X {
  color: rgb(000,200,200);
}

body {
  margin: auto;
  width: 400px;
  font-family: 'VT323', latin; 
  font-size: 30px;
  color: green;
  background-color: black;
}

.container {
  width: 350px;
}

canvas {
  border: medium solid white;
  display: none;
  cursor: pointer;
}