html {
  background-color: #000;
  margin: auto;
}

h1 {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: #D4D9D8;
  text-align: left;
  background-color: #3B3F41;
}

.media {
  height: 90px;
}

.online {
    background-color: #A4DE87;
}

.offline {
    background-color: #9DA3B1;
    
}

.media-object {
  margin-top: 8px;
  margin-left: 8px;
  width: 75px;
  height: 75px;
  border: medium solid #D4D9D8;
  border-radius: 50pc;
}

.media-heading {
  margin-top: 20px;
  margin-left: 20px;
}

.media-status {
  margin-left: 50px; 
}   
